<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
     <f:metadata>
         <f:viewParam  name="idExam" value="#{questionJSFManagedBean.idExam}" required="true" />
         <f:viewAction action="#{questionJSFManagedBean.findQuestions}"/>
         <f:viewAction action="#{questionJSFManagedBean.findReponses}"/>
    </f:metadata>
    <h:body>
        
        <f:view>
            <h:outputText value="Le score total de cet exam est: "/>
            <h:outputText value="#{questionJSFManagedBean.barem}"/>

            <h:form>
                <h1><h:outputText value="List"/></h1>
                <p:dataTable value="#{questionJSFManagedBean.questions}" var="item">
                   
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Question"/>
                        </f:facet>
                        <h:outputText value="#{item.question}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Consigne"/>
                        </f:facet>
                        <h:outputText value="#{item.consigne}"/>
                    </p:column>
                    <p:column>
                        <h:selectManyCheckbox  value="#{questionJSFManagedBean.selReponses}" layout="pageDirection">               
                            <f:selectItems value="#{questionJSFManagedBean.reponses}" var="rep" itemLabel="#{rep.reponse}" itemValue="#{rep.idReponse}" />
                        </h:selectManyCheckbox>
                    </p:column>
                </p:dataTable>

                <h:commandButton value="valider exam " immediate="true" action="" />  
            </h:form>


        </f:view>

    </h:body>
</html>

