<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="List"/></h1>
                <p:dataTable value="#{examsJSFManagedBean.findExams()}" var="item">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Idexam"/>
                        </f:facet>
                        <h:link outcome="#{questionJSFManagedBean.PasserExam(item.idexam)}" value="#{item.idexam}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Creneau"/>
                        </f:facet>
                        <h:outputText value="#{item.creneau}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="IdCours"/>
                        </f:facet>
                        <h:outputText value="#{item.idCours}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Idgroupe"/>
                        </f:facet>
                        <h:outputText value="#{item.idgroupe}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Qcm"/>
                        </f:facet>
                        <h:outputText value="#{item.qcm}"/>
                    </p:column>
                </p:dataTable>
            </h:form>

        </f:view>

    </h:body>
</html>

